doctype html
style
  include styles.css
html
  body
    block header
      #header
        include header.pug

    #content
      block content

    block footer
      #footer
        include footer.pug
